:root {
  --color-main: #eeeeee;
  --color-main-sub: #565b63;
  --color-main-sub-light: #cecece;
  --color-main-sub-dark: #222831;
  --table-color-red: #ef8677;
  --table-color-green: #a0e77d;
  --table-color-blue: #82b6d9;
}

/* Overall */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main, white);
  color: var(--color-main-sub-dark, black);
  font-family: "Ubuntu", monospace;
  font-size: 20px;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 75px;
}

header h4 {
  color: var(--color-main-sub, black);
}

header img {
  opacity: 0.7;
  margin-left: 8px;
  width: 35px;
  user-select: none;
}

/* Content */
main {
  flex: 1;
  margin: 25px 75px;
}

#main-table {
  width: 100%;
  table-layout: fixed;
  background-color: white;
  border-style: hidden;
  border-collapse: collapse;
  border-radius: 10px;
  font-family: monospace;
  text-align: center;
}

#main-table tr,
th,
td {
  padding: 5px 0;
}

#main-table td {
  border: 1px solid var(--color-main, white);
}

#main-table tr:nth-child(2) td {
  border: none;
  background-color: var(--table-color-blue, blue);
}

#main-table th {
  border-radius: 10px 10px 0 0;
  background-color: var(--color-main-sub-light, grey);
}
