:root {
  --color-main: #eeeeee;
  --color-main-sub: #565b63;
  --color-main-sub-light: #cecece;
  --color-main-sub-dark: #222831;
  --table-color-red: #ef8677;
  --table-color-green: #a0e77d;
  --table-color-blue: #82b6d9;
  --table-color-orange: #ffce73;
}

/* Overall */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main, white);
  color: var(--color-main-sub-dark, black);
  font-family: "Ubuntu", monospace;
  font-size: 20px;
}

a {
  color: var(--color-main-sub-dark, black);
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

sup {
  padding: 0 2px;
  font-size: 10px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 75px;
}

header h4 {
  color: var(--color-main-sub, black);
}

header img {
  opacity: 0.7;
  margin-left: 8px;
  width: 35px;
  user-select: none;
}

/* Content */
main {
  flex: 1;
  margin: 25px 75px;
}

#main-toosmall {
  display: none;
  overflow: hidden;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
}

table {
  margin-bottom: 30px;
  width: 100%;
  table-layout: fixed;
  background-color: white;
  border-style: hidden;
  border-collapse: collapse;
  border-radius: 10px;
  font-family: monospace;
  text-align: center;
}

#main-bottom {
  display: flex;
  justify-content: space-between;
  color: var(--color-main-sub, grey);
  font-size: 16px;
}

#main-bottom-reference {
  border-left: 3px solid;
  border-color: var(--table-color-blue, blue);
}

#main-bottom-updates span {
  background-color: var(--table-color-green, green);
}

tr,
th,
td {
  padding: 5px;
}

table td {
  border: 1px solid var(--color-main, white);
}

table th {
  border-radius: 10px 10px 0 0;
  background-color: var(--color-main-sub-light, grey);
}

table tr:nth-child(2) td {
  border: none;
  background-color: var(--table-color-blue, blue);
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 75px;
  padding-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
}

footer a {
  margin-right: 20px;
  border-bottom: 2px dashed;
}

/* Misc */
.span-green-dot {
  color: var(--table-color-green, green);
}

.span-red-dot {
  color: var(--table-color-red, red);
}

.span-orange-dot {
  color: var(--table-color-orange, orange);
}

.span-grey-dot {
  color: var(--color-main-sub-light, grey);
}

@keyframes tooltip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.span-titled {
  border-bottom: 2px dashed;
  cursor: help;
}

.span-titled:hover::after {
  content: attr(data-title);
  position: absolute;
  z-index: 1;
  animation: tooltip 0.15s 1 linear;
  margin: 10px 0 0 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(34, 40, 49, 0.75); /* --color-main-sub-dark */
  color: var(--color-main, white);
}

@keyframes latest {
  100% {
    background-color: rgba(160, 231, 125, 0);
  }
}

.span-latest {
  animation: latest 5s 1 linear forwards;
  background-color: rgba(160, 231, 125, 1); /* --table-color-green */
}

/* Media */
@media (max-width: 980px) {
  #main-bottom {
    font-size: 12px;
  }
}

@media (max-width: 780px) {
  table {
    font-size: 14px;
  }
  #main-bottom {
    flex-direction: column;
    align-items: center;
  }
  #main-bottom-updates {
    margin-top: 25px;
  }
}

@media (max-width: 650px) {
  #main-bottom-reference {
    padding-left: 5px;
  }
}

@media (max-width: 550px) {
  header {
    margin: 25px 25px 0 25px;
    flex-direction: column;
  }
  #header-sn {
    margin-top: 25px;
  }
  main {
    margin: 25px 25px;
  }
  table {
    margin-bottom: 25px;
    font-size: 12px;
  }
}

@media (max-width: 410px) {
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  table {
    font-size: 10px;
  }
  .span-green-dot,
  .span-red-dot,
  .span-orange-dot,
  .span-grey-dot {
    display: none;
    overflow: hidden;
  }
  footer {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
  footer div:last-child {
    margin-top: 25px;
  }
  footer a {
    margin-right: 0;
  }
}

@media (max-width: 350px) {
  table {
    font-size: 8px;
  }
}

@media (max-width: 300px) {
  table,
  #main-bottom {
    display: none;
    overflow: hidden;
  }
  #main-toosmall {
    display: block;
  }
}
