:root {
  --color-main: #eeeeee;
  --color-main-sub: #565b63;
  --color-main-sub-light: #cecece;
  --color-main-sub-dark: #222831;
  --table-color-red: #ef8677;
  --table-color-green: #a0e77d;
  --table-color-blue: #82b6d9;
  --table-color-orange: #ffce73;
}

/* Overall */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main, white);
  color: var(--color-main-sub-dark, black);
  font-family: "Ubuntu", monospace;
  font-size: 20px;
}

a {
  color: var(--color-main-sub-dark, black);
  text-decoration: none;
}

sup {
  padding: 0 2px;
  font-size: 10px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 75px;
}

header h4 {
  color: var(--color-main-sub, black);
}

header img {
  opacity: 0.7;
  margin-left: 8px;
  width: 35px;
  user-select: none;
}

/* Content */
main {
  flex: 1;
  margin: 25px 75px;
}

table {
  margin-bottom: 30px;
  width: 100%;
  table-layout: fixed;
  background-color: white;
  border-style: hidden;
  border-collapse: collapse;
  border-radius: 10px;
  font-family: monospace;
  text-align: center;
}

#main-bottom {
  display: flex;
  justify-content: space-between;
  color: var(--color-main-sub, grey);
  font-size: 16px;
}

#main-bottom-reference {
  border-left: 3px solid;
  border-color: var(--table-color-blue, blue);
}

#main-bottom-updates span {
  background-color: var(--table-color-green, green);
}

tr,
th,
td {
  padding: 5px;
}

table td {
  border: 1px solid var(--color-main, white);
}

table th {
  border-radius: 10px 10px 0 0;
  background-color: var(--color-main-sub-light, grey);
}

table tr:nth-child(2) td {
  border: none;
  background-color: var(--table-color-blue, blue);
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 75px;
  padding-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
}

footer a {
  margin-right: 20px;
  border-bottom: 2px dashed;
}

/* Misc */
.span-green-dot {
  color: var(--table-color-green, green);
}

.span-red-dot {
  color: var(--table-color-red, red);
}

.span-orange-dot {
  color: var(--table-color-orange, orange);
}

.span-grey-dot {
  color: var(--color-main-sub-light, grey);
}

@keyframes tooltip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.span-titled {
  border-bottom: 2px dashed;
  cursor: help;
}

.span-titled:hover::after {
  content: attr(data-title);
  position: absolute;
  z-index: 1;
  animation: tooltip 0.15s 1 linear;
  margin: 10px 0 0 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(34, 40, 49, 0.75); /* --color-main-sub-dark */
  color: var(--color-main, white);
}

.span-latest {
  background-color: var(--table-color-green, green);
}
