:root {
    --color-main: #eeeeee;
    --color-main-sub: #565b63;
    --color-main-sub-light: #cecece;
    --color-main-sub-dark: #222831;
    --table-color-red: #ef8677;
    --table-color-green: #a0e77d;
    --table-color-blue: #82b6d9;
    --table-color-orange: #ffce73;
  }

* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-main, white);
    color: var(--color-main-sub-dark, black);
    font-family: "Ubuntu", monospace;
    font-size: 20px;
  }

  div {
    margin-top: 20px;
    text-align: center;
  }